  <footer id="footer">
    <nav>
      <ul>
        <li><span>Made with love in Costa Rica & Brooklyn</span></li>
        <li>
          <a href="/services/">Services</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="https://www.github.com/pueblocolab">Collaborate on GitHub!</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Find us on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>