[submodule "site/themes/sam"]
	path = site/themes/sam
	url = https://github.com/victoriadotdev/hugo-theme-sam.git

[submodule "site/themes/kube"]
	path = site/themes/kube
	url = https://github.com/jeblister/kube.git