[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "site/themes/hallo"]
	path = site/themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "site/themes/sam"]
	path = site/themes/sam
	url = https://github.com/victoriadotdev/hugo-theme-sam.git
