{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/services" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Hire Us</a> <a class="button outline big" href="https://github.com/pueblocolab" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">Collaborate</a>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    Is your project, non-profit or startup less than 2 years old? Book a <a class="button inverted small " href="mailto:hello@pueblocolab.org" >free 30 minute consulting call</a> today!
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Technology</h3>
        <p>Technology system reviews, recommendations, & implementations</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Data</h3>
        <p>Management, retrieval, cleaning & analysis</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Web Design</h3>
        <p>CMS based Wordpress or static websites</p>
      </div>
    </div>
  </div>
</div>

<div class="form-subscribe">
  <div id="form-subscribe-success" style="display: none;"></div>
<div id="form-subscribe-box">
      <h4>Sign Up For Our Newsletter</h4>
      <p>Monthly updates on our projects, social good &amp; civic tech.</p>

      <form action="https://formspree.io/hello@pueblocolab.org" name="mc-embedded-subscribe-form" method="post" class="form" ><input type="hidden" name="authorize-token" value="">
          <div id="subscribe-email-validation-error"></div>
          <div class="form-item">
              <div class="append">
                  <input type="text" name="name" placeholder="Name">
                  <br>
                  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email">
                  <button class="button">Subscribe</button>
              </div>
          </div>
  
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
      </form>

      <div class="form-subscribe-twitter"><div>or</div> <a href="https://twitter.com/pueblocolab">Follow us on Twitter</a></div>
  </div>
</div>

</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
